# Lists

A list is a collection of items in a particular order. You can make a list that includes the letters of the alphabet, the digits from 0–9, or the names of all the people in your family

In [1]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles)
print(type(bicycles))

#Using the 'list()' constructor

bike_ = list(('Honda' , 'BMW GS' , 'Yamaha' , 'Hero' , 'Kawasaki' , 'Scooteer' , 'Ktm'))
print(bike_)
print(type(bike_))

['trek', 'cannondale', 'redline', 'specialized']
<class 'list'>
['Honda', 'BMW GS', 'Yamaha', 'Hero', 'Kawasaki', 'Scooteer', 'Ktm']
<class 'list'>

Accessing Elements in a list

In [2]:
print(bicycles[0])
print()

#Capitalizing the first letter.

print(bicycles[0].title())

trek

Trek

In [3]:
#Getting list length using the len() function.

print(len(bicycles))
print(len(bike_))

4
7

In [4]:
#Working with bolean data types in list.

sol =[True,False,True]
print(sol)

[True, False, True]

In [5]:
#Checking the data type using the type() function.

print(type(sol))

<class 'list'>

In [6]:
#Using the 'list()' constructor to make a list.

thislist = list(("Mango","orange","pineapple")) #Note the double round brackets.
print(thislist)
print(type(thislist))

['Mango', 'orange', 'pineapple']
<class 'list'>

Negative Indexing 

This means you start from the end. [-1] refers to the last item, [-2] refers to the second last item.

In [7]:
print(bicycles[-1])
print()

bike = ['Honda' , 'BMW GS' , 'Kawasaki' , 'Hero' , 'KTM' , 'Yamaha' , 'Scooter']
print(bike[-3])

specialized

KTM

Range of indexes.

-We can specify a range of indexes by specifying where to start and where to end the range. -When specifying a range, the return value will be a new list with a specified items.

In [8]:
list4=["Audi","BMW","Volkswagen","Toyota","Subaru","Porche","Range Rover"]
#Return list from 2 to 5.
print(list4[2:5])
print()

bike = ['Honda' , 'BMW GS' , 'Kawasaki' , 'Hero' , 'KTM' , 'Yamaha' , 'Scooter']
print(bike[2:5])

#The search will start at index 2(included) and end at index 5(not included).

['Volkswagen', 'Toyota', 'Subaru']

['Kawasaki', 'Hero', 'KTM']

In [9]:
#More on ranges and indexing

#By leaving out the start value, the range will start at the first item.
#(The code returns the items from the begining to, but NOT including, "Subaru" and "KTM".)

print(list4[:4])
print()

print(bike[:4])

['Audi', 'BMW', 'Volkswagen', 'Toyota']

['Honda', 'BMW GS', 'Kawasaki', 'Hero']

In [10]:
#By leaving out the end value, the range will go onto the end of the list.

print(list4[2:])
print()

print(bike[2:])

#The example returns the items from "Volkswagen" and "Kawasaki" to the end of the list.

['Volkswagen', 'Toyota', 'Subaru', 'Porche', 'Range Rover']

['Kawasaki', 'Hero', 'KTM', 'Yamaha', 'Scooter']

Range of Negative Indexes.

-Specify negative indexes if you want to start the search from the end of the list.

In [11]:
print(list4[-5:-1]) #Returns the items from "Volkswagen" [-5] to, but NOT including "Rangerover" [-1]
print(list4[-4:])

['Volkswagen', 'Toyota', 'Subaru', 'Porche']
['Toyota', 'Subaru', 'Porche', 'Range Rover']

Check if an item is present.

-To determine if a specific item is present in a list use the "in" keyword.

In [12]:
if "BMW" in list4:
    print("Yes, 'BMW' is in the list.")
print()

if "Ford" in list4:
    print("Yes, 'Ford' is in the list") #If the item is missing no output will be displayed.

Yes, 'BMW' is in the list.

In [13]:
#Changing values in list.
#To change values in a list refer to the index number.

list5 = ["Nairobi","Kisumu","Nakuru","Mombasa","Kakamega","Narok","Kiambu"]
list5[2]="Kitui"
print(list5)

['Nairobi', 'Kisumu', 'Kitui', 'Mombasa', 'Kakamega', 'Narok', 'Kiambu']

In [14]:
#Change a Range of Item Values
#To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:

list5[1:3] = ["Kanduyi" , "Cheptais"]
print(list5)

['Nairobi', 'Kanduyi', 'Cheptais', 'Mombasa', 'Kakamega', 'Narok', 'Kiambu']

Insert Items.

-To insert a new list item, without replacing any of the existing values, we can use the 'insert()' method. -The 'insert()' method inserts an item at the specified index.

In [15]:
#If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

list5[1:2] = ["Busia" , "Tairi-Mbili"]
print(list5)

['Nairobi', 'Busia', 'Tairi-Mbili', 'Cheptais', 'Mombasa', 'Kakamega', 'Narok', 'Kiambu']

In [16]:
#If you insert less items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

list5[1:3] = ["Kwale"]
print(list5)

['Nairobi', 'Kwale', 'Cheptais', 'Mombasa', 'Kakamega', 'Narok', 'Kiambu']

Using the insert() function to insert data into a list.

In [17]:
fruits = ["bananas" , "apples" , "mangos"]
fruits.insert(1, "Peas")
print(fruits)

['bananas', 'Peas', 'apples', 'mangos']

Adding items to a list using the append() method.

-Appending is adding items at the end of the list.

In [18]:
fruits.append("guavas")
print(fruits)

['bananas', 'Peas', 'apples', 'mangos', 'guavas']

In [19]:
#Using extend() method to combine two lists.

toyota = ["Auris" , "Land Cruser" , "Vits" , "Camry"]
german = ["BMW" , "Audi" , "Volkswagen" , "Volvo"]

toyota.extend(german)
print(toyota)

['Auris', 'Land Cruser', 'Vits', 'Camry', 'BMW', 'Audi', 'Volkswagen', 'Volvo']

In [20]:
#Remove elements from a list usinge the remove() function.

toyota.remove("Vits")
print(toyota)

['Auris', 'Land Cruser', 'Camry', 'BMW', 'Audi', 'Volkswagen', 'Volvo']

In [21]:
#Removing specified index using the keyword.

german.pop(3)
print(german)

['BMW', 'Audi', 'Volkswagen']

In [22]:
#Using pop() method without specifying the index of an item it removes the last item in the list.

motorbike = ["GS" , "Honda" , "Kawasaki" , "Yamaha"]
motorbike.pop()
print(motorbike)

['GS', 'Honda', 'Kawasaki']

In [23]:
#Removing list elements by using the delete method del().

del motorbike[2]
print(motorbike)

['GS', 'Honda']

In [24]:
#del() can also be used to delete the entire list.

del motorbike
print(motorbike)

NameError: name 'motorbike' is not defined

In [25]:
#Removing elements using clear()
#clear() method removes the contents of the list, but the list remains.
motorbike = ['GS', 'Honda' , 'Kawaski']
motorbike.clear()
print(motorbike)

[]

LOOPING THROUGH AN ENTIRE LIST.

-We will often want to run all entries in a list performing the same task with each item. -For example, in a game we might want to move every element on the screen by the same amount, or in a list of numbers we might want to perform the same statistical operation on every element. Or perhaps we will want to display each headline from a list of articles on a website. When we want to do the same action with every item in a list, we can use Python’s 'for' loop.

In [26]:
students = ["Alice" , "John" , "Jane" , "Tom"]
for student in students:
    print(student)
    
print()

#We begin by defining a list in 1
#At 2 we drfine a for loop, this line tells Python to pull a name on the list students and store it in the variable student.
#At 3 we tell Python to print the name that was just stored in student.
#Python will then repeat line 2 and 3 once for each name in the list.
#It might help to read this code as:
# “For every student in the list of students, print the student’s name.”
    
machines = ["Audi" , "BMW" , "land rovers" , "Camry"]
for machine in machines:
    print(machine)

Alice
John
Jane
Tom

Audi
BMW
land rovers
Camry

In [27]:
counties = ["Nairobi" , "Kisumu" , "Kwale" , "Nakuru"]
for y in counties:
    print(y)

Nairobi
Kisumu
Kwale
Nakuru

In [28]:
#Printing all items by refering to there index number.

towns = ["Kiambu" , "Narok" , "Meru" , "Eldoret"]
for z in range(len(towns)):
    print(towns[z])

Kiambu
Narok
Meru
Eldoret

In [29]:
#Printing all items using the while loop.

africa = ["Kenya" , "Tanzania" , "Uganda" , "Nigeria" , "Congo"]
b = 0
while b < len(africa):
    print(africa[b])
    b = b + 1

Kenya
Tanzania
Uganda
Nigeria
Congo

In [30]:
#Using the shorthand for loop.

towns = ["Kiambu" , "Narok" , "Meru" , "Eldoret"]
[print(d) for d in towns]

Kiambu
Narok
Meru
Eldoret

[None, None, None, None]

Sorting lists

In [31]:
#Sorting the list alphabetically using the sort() function.

towns = ["Kiambu" , "Narok" , "Meru" , "Eldoret"]




towns.sort()
print(towns)

['Eldoret', 'Kiambu', 'Meru', 'Narok']

In [32]:
#Sorting the list numerically.

age = [102 , 56 , 38 , 23 , 12]
age.sort()
print(age)

[12, 23, 38, 56, 102]

In [33]:
#Sorting in ascending order.

towns = ["Kiambu" , "Narok" , "Meru" , "Eldoret"]
towns.sort(reverse = True)
print(towns)

print()

age = [102 , 56 , 38 , 23 , 12]
age.sort(reverse = True)
print(age)

['Narok', 'Meru', 'Kiambu', 'Eldoret']

[102, 56, 38, 23, 12]

In [34]:
#Sorting in descending order.

towns = ["Kiambu" , "Narok" , "Meru" , "Eldoret"]
towns.sort(reverse = False)
print(towns)

print()

age = [102 , 56 , 38 , 23 , 12]
age.sort(reverse = False)
print(age)

['Eldoret', 'Kiambu', 'Meru', 'Narok']

[12, 23, 38, 56, 102]

In [35]:
def myfunc(n):
    return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [36]:
#Joining lists using append()

list1 = ["a" , "b" , "c"]
list2 = [1 , 2 , 3]

for x in list2:
    list1.append(x)
    
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [37]:
#Joining two lists

list3 = ["a" , "b" , "c"]
list4 = [1 , 2 , 3]

list5 = list3 + list4
print(list5)

['a', 'b', 'c', 1, 2, 3]